footer {
    background-color: #161619;
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

footer > button {
    border-radius: 5px;
}