img {
    object-fit: cover;
    width: 317px;
    height: 317px;
    border-radius: 10px 10px 0 0;
}

header {
    background: #1a1b21;
    max-width: 317px;
    padding: 20px;
}

header > h1 {
    font-size: 22pt;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 20px;
    line-height: 1;
}

header > h2 {
    font-size: 11pt;
    color: #F3BF99;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
}

header > h3 {
    font-size: 9pt;
    margin-top: 5px;
    font-weight: 400;
}

.summary-socials {
    display:flex;
    justify-content: space-around;
    padding: 0 30px;
}

#btnLinkedin, #btnLinkedin:visited {
    background: #5093e2;
    color: white;
}

#btnLinkedin > a {
    color: white;
}

.icon {
    padding: 0 3px;
}

.btn > a:visited, .btn > a {
    color:black;
}

@media (prefers-color-scheme: dark) {
    .btn, .btn:visited {
        background-color: white;
    }
}